.Body {
  flex: 1;
  background: linear-gradient(rgb(91, 87, 115), rgb(0, 0, 0, 1));
  height: 90vh;
  color: white;
  padding: 30px;
  padding-top: 20px;
  margin-bottom: 140px;
  overflow-y: scroll;
}
.Body::-webkit-scrollbar {
  display: none;
}
.body__info {
  display: flex;
  align-items: flex-end;
  padding: 10px;
  padding-bottom: 20px;
  margin-top: 100px;
}
.body__infoText {
  flex: 1;
}
.body__infoText h2 {
  font-size: 48px;
}
.body__info img {
  height: 30vh;
  margin: 0 20px;
  margin-right: 30px;
  box-shadow: 10px 10px 10px 5px rgb(0, 0, 0, 0.5);
}
.body__icons {
  display: flex;
  align-items: center;
}
.body__icons .MuiSvgIcon-root {
  margin-right: 20px;
}
.body__icons .MuiSvgIcon-root:first-child {
  margin: 20px 20px 20px 50px;
  font-size: 80px !important;
}
.body__iconsShuffle:hover {
  transition: 0.1s transform ease-in-out;
  transform: scale(1.08);
}
.body__songs {
  flex: 1;
  margin-bottom: 50px;
}
