.songRow {
  margin-left: 20px;
  display: flex;
  padding: 10px;
  align-items: center;
  color: white;
}
.songRow:hover {
  opacity: 0.8;
  background-color: black;
  cursor: pointer;
}
.songRow__album {
  width: 40px;
  height: 40px;
}
.songRow__info {
  margin-left: 20px;
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
}
.songRow__info .songRow__InfoLeft > h1 {
  font-size: 16px !important;
}
.songRow__info .songRow__InfoLeft p {
  font-size: 14px;
  margin-top: 3px;
  color: gray;
}
.songRow__infoDot {
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
}
.songRow__info {
}
